@use '../partials/tools' as *;
@use '../partials/assembler/' as *;
// --------------------
/* --- home main --- */
// --------------------

.home {
    font-family: $font-family-Inter;
    font-optical-sizing: auto;
    background-color: $clr-bg-body ;
    height: 100dvh;
    width: 100dvw;
    @include flexCenter;
}
