@use '../partials/tools' as *;
@use '../partials/assembler/' as *;
// --------------------
/* --- home main --- */
// --------------------

.home {
    font-family: $font-family-Inter;
    font-optical-sizing: auto;
    background-color: $clr-bg-body ;
    height: 100dvh;
    width: 100dvw;
    @include flexCenter;
}


.container {
    max-width: em(384, 16);
    background-color: $clr-bg-container ;
    border-radius: em($br-card, 16);
}

.card {
    text-align: center;

    padding: em(40, 16);

    &__img {
        margin-bottom: em(24, 16);

        img {
            min-width: em(88, 16);
            min-height: em(88, 16);
            border-radius: 50%;
        }

        h1 {
            font-size: var(--heading);
            font-size: 5rem;
            color: $clr-txt-heading ;
            color: white;
        }

    }
}